/* banner style */
.banner-container{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: right;
      justify-content:right;
      
      background-image: url("../images/banner/banner1.png");
        }

.btn-primary{
    background-color: orangered;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    height: 50px;
    color: #FFFF;

}
/* failure style */
.my-failure{
    display: flex;
    align-items: center;
}
.failure-description{
    margin-left: 100px;
}
/* my plans style */
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.plans-container{
    display: flex;
    gap: 34px;
    justify-content: center;
}
.plan{
    background: #FFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.plan-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.plan-description{
    color: #757575;
}
/* my achievement */
.achievement{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
/* emergency call */
.emergency{
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 30px;
}
.call-emergency{
    text-align: center;
    color:aqua;
}
/* contact style */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;


}
.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}
/* footer */
.footer{
        text-align: center;
        padding: 30px;
        margin-left: 200px;
        /* background-color: black; */
        display: flex;

}
